# Django
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=False

# Database
POSTGRES_DB=portfolio_db
POSTGRES_USER=portfolio_user
POSTGRES_PASSWORD=your-db-password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Email (Gmail settings)
EMAIL_HOST_USER=myportfolio332@gmail.com
EMAIL_HOST_PASSWORD=your-16-char-app-password
DEFAULT_FROM_EMAIL=Victor.DataScience <myportfolio332@gmail.com>