# Environment variables
.env

# IDE configuration
.idea/
.vscode/

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Local Database
db.sqlite3

# Media and Static Files
media/
staticfiles/

# Local configuration
local_settings.py

# Test logs/outputs
test_output.log
test_out.txt